---
layout: archive
title: "My Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<!-- Grid Container for Portfolio -->
<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 20px; padding: 20px;">
  {% for post in site.portfolio %}
    <!-- Each portfolio item in a grid item -->
    <div style="border: 1px solid #ddd; padding: 20px; background-color: #3d3636; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
      {% include archive-single.html %}
    </div>
  {% endfor %}
</div>
