{% include base_path %}

<div class="portfolio-item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- Image teaser displayed once -->
    {% if post.header.teaser %}
      <div class="archive__item-teaser">
        <img src="{{ post.header.teaser }}" alt="Image for {{ post.title }}">
      </div>
    {% endif %}

    <!-- Title -->
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    </h2>

    <!-- Description -->
    {% if post.description %}
      <p>{{ post.description }}</p>
    {% endif %}

    <!-- Categories -->
    {% if post.categories %}
      <p><strong>Categories:</strong></p>
      {% include category-list.html with post.categories as categories %}
    {% endif %}

    <!-- Excerpt -->
    {% if post.excerpt %}
      <p>{{ post.excerpt }}</p>
    {% endif %}

  </article>
</div>
